@use '../../../assets/partials/variables' as *;
@use '../../../assets/partials/mixins' as *;

.delete_icon{
    background-image: url("../../../assets/images/delete.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    border: none;
    height: 1.125rem;
    outline: none;
}
.order__data-item-icon{
    transition: 0.3s ease-in;
    &:hover{
    transform: translateX(30%);
    }
}