.hero-404{
    // background-image: url(../../assests/photos/404.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    color: #ffffff;
    padding: 6rem 1rem 2rem 1rem;
    margin: 0;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    &__error{
        color: black;
    }
}