@use './variables' as *;
// Responsive
@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

// Mobile/Tablet Fonts
@mixin h1-page-header {
    font-size: 28px;
    line-height: 36px;
    @include tablet {
        font-size: 32px;
        line-height: 40px;
    }
}

@mixin h2-sub-header {
    font-size: 20px;
    line-height: 28px;
    @include tablet {
        font-size: 24px;
        line-height: 32px;
    }
}

@mixin h3-labels-links-buttons {
    font-size: 13px;
    line-height: 20px;
    @include tablet {
        font-size: 14px;
        line-height: 22px;
        // font-weight: 600;
    }
}

@mixin h4-table-header {
    font-size: 11px;
    line-height: 16px;
    @include tablet {
        font-size: 12px;
        line-height: 18px;
    }
}

@mixin body-large {
    font-size: 15px;
    line-height: 26px;
    @include tablet {
        font-size: 16px;
        line-height: 28px;
    }
}

@mixin body-med {
    font-size: 13px;
    line-height: 20px;
    @include tablet {
        font-size: 14px;
        line-height: 22px;
    }
}

@mixin body-small {
    font-size: 11px;
    line-height: 16px;
    @include tablet {
        font-size: 12px;
        line-height: 18px;
    }
}

// Mobile Fonts
// @mixin mh1-page-header {
//     font-size: 28px;
//     line-height: 36px;
// }
// @mixin mh2-sub-header {
//     font-size: 20px;
//     line-height: 28px;
// }
// @mixin mh3-labels-links-buttons {
//     font-size: 13px;
//     line-height: 20px;
// }
// @mixin mh4-table-header {
//     font-size: 11px;
//     line-height: 16px;
// }
// @mixin m-body-large {
//     font-size: 15px;
//     line-height: 26px;
// }
// @mixin m-body-med {
//     font-size: 13px;
//     line-height: 20px;
// }
// @mixin m-body-small {
//     font-size: 11px;
//     line-height: 16px;
// }
// Divider
@mixin divider {
    border-bottom: 1px solid $cloud;
}

// Flexbox
@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin clickedBorder {
    border: solid 2px $primary-cta-txt-link;
    outline: none;
}