@use '../../../assets/partials/variables' as *;
@use '../../../assets/partials/mixins' as *;

.Cart {
    background: $white;
    position: relative;
    bottom: 3.75rem;
    margin: 0 1rem;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    border-radius: 3px;
    @include tablet {
        top: -5.8rem;
        margin: 0 2rem;
    }
    &__header {
        @include divider;
        padding: 2rem 1.5rem;
        @include tablet {
            @include flex-row;
            justify-content: space-between;
            border: none;
        }
    }

    &__title {
        @include h1-page-header;
    }
    &__head{
        display: flex;
        flex-direction: column;
        // padding: 1rem 2rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 2rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid $cloud;
        height: 400px;
        background-image: url("../../../assets/photos/Photoshoot/4_inarow.JPG");
        background-position: 0px -100px;
        background-repeat: no-repeat;
        background-size: cover;
        @include tablet {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-bottom: none;
            padding-bottom: 1.3rem;
            padding-left: 2rem;
            padding-right: 2rem;
        }
        @include desktop {
            padding-left: 2.5rem;
            padding-right: 2.5rem;
        }
        &-cta {
            display: flex;
            flex-direction: column;
            @include tablet {
                @include flex-row;
                justify-content: flex-end;
                width: 70%;
            }
    
            &--search {
                width: 94%;
                height: 2.25rem;
                margin: 1rem 0;
                padding-left: 1rem;
                background: $white;
                border: 1px solid $cloud;
                border-radius: 20px;
                background: url("../../../assets/images/search.svg") no-repeat 95% 0.625rem;
                @include tablet {
                    width: 37.5%;
                    max-width: 17.125rem;
                    margin: 0rem 1rem;
                }
            }
    
            &--button {
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 2.375rem;
                border-radius: 20px;
                border: none;
                background: $indigo;
                color: white;
                @include tablet {
                    width: 10.5rem;
                }
            }
        }
    } 
    &__header {
        display: none;
        @include tablet {
            @include flex-row;
            justify-content: space-between;
            padding: 1rem 2rem;
            background-color: $light-grey;
        }
        &-single {
            @include flex-row;
            &--width {
                width: 4rem;
            }
        }
        &-type {
            @include h4-table-header;
            color: $slate;
            padding-right: 0.25rem;
        }
    }
}
