// @use './css/partials/variables' as *;
@use 'partials/partial' as *;
// @use './css/partials/Fontfaces' as *;
*, *:before, *:after{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: black;
    margin: 0rem;
    padding: 0rem;
}
@include header;
.button{
    padding: .5rem 2rem;
    border-radius: 30px;
    text-decoration: none; 
}
.hero{
    background-image: url(../../../assets/photos/Photoshoot/4_inarow.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(50,50,50,0.5);
    background-blend-mode: overlay;
    display: flex;
    padding: 1rem 1rem 0 1rem;
    height: 35vh;
    height: 11.4375rem;
    @include tablet{
        height: 25rem;
    }
    @include desktop{
        height: 41.875rem;
    }
    @include tablet-padding;
    @include desktop-padding;
    & .hero-content{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1rem 1rem 1rem;
        &__title{
            font-size: 1rem;
            padding: 1.8rem 0 0 0;
            font-family: "Comic Sans MS", "Comic Sans", cursive;
            color: #ffffff;
            @include tablet{
                font-size: 2.2rem;   
            }

        }
        &__blurb{
            max-width: 90%;
            font-size: .8rem;
            padding-bottom: 1.5rem;
    
        }
        &__button{
            background-color: #5969d0;
            color: #ffffff;
            font-weight: 700;
        }
    }
}

@include cards;

.bio{
    display: flex;
    padding: 2rem 1rem 2rem 1rem;
    &__img{
        display: none;
        @include tablet {
            display: flex;
        }
        max-width: fit-content;
        & img {
            max-width: 100%;
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }
}