@import '../../../assets/partials/mixins';
@import '../../../assets/partials/variables';
.editInventory {
    margin-left: 1rem;
    margin-right: 1rem;
    box-shadow: 0px 2px 5px 0px rgba(19, 24, 44, 0.1);
    $a: 100%;
    $b: 2rem;
    width: calc(#{$a} - #{$b});
    // margin-bottom: 2rem;
    position: relative;
    top: -4rem;
    z-index: 999;
    background-color: $white;
    @include tablet {
        margin-left: 2rem;
        margin-right: 2rem;
        $b: 4rem;
        width: calc(#{$a} - #{$b});
        top: -5.8rem;
    }
    @include desktop {
        margin-left: 8.125rem;
        margin-right: 8.125rem;
        $b: 16.25rem;
        width: calc(#{$a} - #{$b});
    }
    &__header {
        @include flex-row;
        align-items: center;
        justify-content: flex-start;
        border-bottom: 1px solid $cloud;
        padding-left: 1rem;
        height: 5.75rem;
        @include tablet {
            padding-left: 2.25rem;
        }
        @include desktop {
            padding-left: 2.5rem;
        }
    }
    &__heading {
        @include h1-page-header;
    }
    &__formSubmitted {
        height: 20rem;
        @include flex-column;
        align-items: center;
        padding-top: 2rem;
        @include h2-sub-header;
    }
    &__form {
        @include flex-column;
    }
    &__subheading {
        @include h2-sub-header;
        padding-top: 1rem;
        padding-bottom: 1.5rem;
    }
    &__item-itemAvailablity-details {
        @include tablet {
            @include flex-row;
        }
    }
    &__item-details {
        @include flex-column;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid $cloud;
        margin-top: 1rem;
        @include tablet {
            width: 50%;
            margin-top: 1.5rem;
            border-right: 1px solid $cloud;
            border-bottom: none;
            margin-bottom: 1.5rem;
            padding-bottom: 0;
            padding-left: 2rem;
            padding-right: 2rem;
        }
        @include desktop {
            padding-left: 2.5rem;
            padding-right: 2.5rem;
        }
    }
    &__item-availability {
        @include flex-column;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-bottom: 1.5rem;
        margin-top: 1rem;
        @include tablet {
            width: 50%;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
            padding-bottom: 0;
            padding-left: 2rem;
            padding-right: 2rem;
        }
        @include desktop {
            padding-left: 2.5rem;
            padding-right: 2.5rem;
        }
    }
    &__radioGroup {
        @include flex-row;
        justify-content: flex-start;
        margin-bottom: 1.25rem;
    }
    &__radioButton {
        @include flex-row;
        justify-content: space-between;
        align-items: center;
        padding-right: 2rem;
        @include tablet {
            padding-right: 2.75rem;
        }
    }
    &__btn-container {
        height: 4.25rem;
        background-color: rgba(247, 248, 249, 0.7);
        @include flex-row;
        align-items: center;
        justify-content: center;
        padding-right: 2rem;
        padding-left: 2rem;
        @include tablet {
            justify-content: flex-end;
            padding-right: 2rem;
        }
    }
}