.order {
  background: white;
  position: relative;
  margin: 0 1rem;
  top: -4rem;
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  border-radius: 3px;
}
@media screen and (min-width: 768px) {
  .order {
    margin: 0 2rem;
    top: -5.8rem;
  }
}
.order__header {
  border-bottom: 1px solid #BDC5D5;
  padding: 2rem 1.5rem;
}
@media screen and (min-width: 768px) {
  .order__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
  }
}
.order__title {
  font-size: 28px;
  line-height: 36px;
}
@media screen and (min-width: 768px) {
  .order__title {
    font-size: 32px;
    line-height: 40px;
  }
}
.order__head {
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #BDC5D5;
}
@media screen and (min-width: 768px) {
  .order__head {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;
    padding-bottom: 1.3rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .order__head {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
.order__head-cta {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .order__head-cta {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 70%;
  }
}
.order__head-cta--search {
  width: 94%;
  height: 2.25rem;
  margin: 1rem 0;
  padding-left: 1rem;
  background: white;
  border: 1px solid #BDC5D5;
  outline: none;
  border-radius: 20px;
  background: url("../../assets/images/search.svg") no-repeat 95% 0.625rem;
}
@media screen and (min-width: 768px) {
  .order__head-cta--search {
    width: 37.5%;
    max-width: 17.125rem;
    margin: 0rem 1rem;
  }
}
.order__head-cta--search:active, .order__head-cta--search:focus {
  border: 1px solid #2E66E5;
  color: #13182C;
}
.order__head-cta--button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.375rem;
  border-radius: 20px;
  border: none;
  outline: none;
  background: #2E66E5;
  color: white;
}
@media screen and (min-width: 768px) {
  .order__head-cta--button {
    width: 10.5rem;
  }
}
.order__head-cta--button:hover {
  background-color: #13182C;
}
.order__header {
  display: none;
}
@media screen and (min-width: 768px) {
  .order__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #F7F8F9;
  }
}
.order__header-single {
  display: flex;
  flex-direction: row;
}
@media screen and (min-width: 1280px) {
  .order__header-single--left {
    padding-left: 0.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .order__header-single--right {
    padding-right: 0.5rem;
  }
}
.order__header-single--width {
  width: 6rem;
}
.order__header-type {
  font-size: 11px;
  line-height: 16px;
  color: #5C667E;
  padding-right: 0.25rem;
}
@media screen and (min-width: 768px) {
  .order__header-type {
    font-size: 12px;
    line-height: 18px;
  }
}
.order__card {
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 1px solid #BDC5D5;
}
@media screen and (min-width: 768px) {
  .order__card {
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 1.125rem 2rem;
  }
}
.order__data {
  width: 50%;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .order__data {
    width: 7rem;
    margin: 0rem;
  }
}
@media screen and (min-width: 1280px) {
  .order__data {
    padding-left: 0.5rem;
  }
}
.order__data-header {
  font-size: 11px;
  line-height: 16px;
  color: #5C667E;
}
@media screen and (min-width: 768px) {
  .order__data-header {
    font-size: 12px;
    line-height: 18px;
  }
}
@media screen and (min-width: 768px) {
  .order__data-header {
    display: none;
  }
}
.order__data-item {
  display: flex;
  flex-direction: row;
  font-size: 13px;
  line-height: 20px;
  text-decoration: none;
  font-weight: 700;
  color: #2E66E5;
}
@media screen and (min-width: 768px) {
  .order__data-item {
    font-size: 14px;
    line-height: 22px;
  }
}
.order__data-item-icon {
  color: #2E66E5;
}
.order__data-address {
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  border-radius: 20px;
}
@media screen and (min-width: 768px) {
  .order__data-address {
    font-size: 14px;
    line-height: 22px;
  }
}
.order__data-category {
  font-size: 13px;
  line-height: 20px;
}
@media screen and (min-width: 768px) {
  .order__data-category {
    font-size: 14px;
    line-height: 22px;
  }
}
.order__data-qty {
  font-size: 13px;
  line-height: 20px;
}
@media screen and (min-width: 768px) {
  .order__data-qty {
    font-size: 14px;
    line-height: 22px;
  }
}
.order-icon {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .order-icon {
    width: auto;
    justify-content: flex-end;
  }
}
@media screen and (min-width: 1280px) {
  .order-icon {
    padding-right: 0.5rem;
  }
}
.order-icon-delete {
  height: 1.125rem;
}
@media screen and (min-width: 768px) {
  .order-icon-delete {
    margin-right: 1rem;
  }
}
.order-icon-edit {
  height: 1.125rem;
}
@media screen and (min-width: 768px) {
  .order--order-order {
    order: 0;
  }
  .order--order-address {
    order: 1;
  }
  .order--order-contactName {
    order: 2;
  }
  .order--order-contactInfo {
    order: 3;
    width: 156px;
  }
  .order--order-icon {
    align-items: center;
    order: 4;
  }
}

@media screen and (min-width: 768px) {
  .delete_icon {
    margin-right: 1.5rem;
  }
}/*# sourceMappingURL=Orders.css.map */