@import '../../../assets/partials/mixins';
@import '../../../assets/partials/variables';
.nav {
    display: block;
    color: aliceblue;
    width: 100%;
    background: $graphite;
    height: 12.5rem;
    @include tablet {
        height: 11.625rem;
    }
    &--content {
        @include flex-column;
        justify-content: flex-start;
        align-items: center;
        @include tablet {
            height: 5.75rem;
            width: 100%;
            @include flex-row;
            align-items: center;
            justify-content: space-between;
            margin-top: 0px;
        }
    }
    &-logo {
        padding-top: 1.5rem;
        @include tablet {
            padding-top: 0px;
            padding-left: 2rem;
        }
        @include desktop {
            padding-left: 8.125rem;
        }
    }
    &-menu {
        @include flex-row;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 1.25rem;
        @include h3-labels-links-buttons;
        @include tablet {
            margin-top: 0px;
            align-items: center;
            margin-bottom: 0px;
            padding-right: 1rem;
        }
        @include desktop {
            padding-right: 8.125rem;
        }
    }
    &-link {
        color: $cloud;
        height: 2.25rem;
        text-align: center;
        line-height: 2.25rem;
        &--active {
            color: white;
        }
    }
    &-button {
        background-color: $black;
        width: 9.7rem;
        border-radius: 20px;
        margin-left: 1rem;
        color: white;
        @include tablet {
            width: 6.7rem;
            margin-right: 1.5rem;
        }
        @include desktop {
            margin-right: 2.5rem;
        }
        &--right {
            margin-left: -0.5rem;
            @include tablet {
                margin-left: 1rem;
            }
        }
        &--left {
            @include tablet {
                margin-left: 1rem
            }
        }
    }
}