@use './variables' as *;
@use './mixins' as *;
.button {
    width: 8rem;
    height: 2.25rem;
    line-height: 2.25rem;
    border-radius: 20px;
    border: none;
    outline: none;
    @include body-med;
    font-weight: 600;
    &--indigo {
        background-color: $indigo;
        color: $white;
        @include tablet {
            width: 3.8rem;
            height: 2.375rem;
            line-height: 2.375rem;
        }
        &:hover {
            background-color: $black;
        }
    }
    &--white {
        background-color: $white;
        color: $slate;
        border: 1px solid $cloud;
        text-align: center;
        margin-right: 1rem;
        height: 2.25rem;
        line-height: 2.25rem;
        @include tablet {
            height: 2.375rem;
            width: 4.5rem;
            line-height: 2.375rem;
        }
        &:hover {
            text-decoration: none;
            border: 1px solid $indigo;
            color: $indigo;
        }
    }
    &--success {
        background-color: #2E66E5;
        color: white;
        width: 8rem;
        display: block;
        height: 2.5rem;
        line-height: 2.5rem;
        text-align: center;
        @include tablet {}
        &:hover {
            background-color: $black;
            text-decoration: none;
        }
    }
    &--addItem {
        @include tablet {
            width: 6rem;
        }
    }
}